@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");
/* common style====================== */

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.25rem;
}
/* common style ===================== */
/* navigation style start=============================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-right .fas.fa-search {
  padding-right: 2.125rem;
}
.nav-right a {
  text-decoration: none;
  color: #3a3a3a;
  padding-right: 2.125rem;
}
/* navigation style end ================================ */
/* banner-section style start==================== */
.banner-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.left-banner {
  width: 36.375rem;
  margin-right: 8.3125rem;
}
.left-banner h1 {
  font-size: 3.25rem;
  font-weight: 700;
  font-family: "Mochiy Pop P One", sans-serif;
}
.right-banner img {
  width: 27.5rem;
}
.right-banner img:hover {
  transform: scale(1.2);
  transition: all 1s;
}
.right-banner img:not(:hover) {
  transform: scale(1);
  transition: all 1s;
}

button {
  color: white;
  background-color: #e02c6d;
  padding: 0.625rem 1.25rem;
  border-radius: 2.5rem;
  margin: 0;
  border: none;
}
button .fas {
  margin-left: 0.5rem;
}
/* banner-section style end ===================== */
/* products-section style start=================== */
.products-section {
  margin: 0 auto;
}
.products-section h2 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
  margin-top: 6.25rem;
}
.products-section .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.product {
  width: 20.5625rem;
  height: 28.125rem;
  padding: 1.0625rem 0.875rem;
  background: #ffffff;
  box-shadow: 0rem 0rem 2.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product img {
  width: 18.75rem;
  height: 16rem;
}
.product h3 {
  font-weight: 500;
  font-size: 1.75rem;
  margin: 0;
  padding-top: 1rem;
}
.product .price {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  padding-top: 0.375rem;
}
.product .rating .fas.fa-star {
  color: Orange;
}
.product p {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0;
  padding-top: 0.3125rem;
}
.products-section a {
  display: block;
  font-weight: 700;
  color: #e02c6dde;
  text-decoration: none;
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  text-align: end;
}
.products-section .see-more .fas {
  margin-left: 0.5rem;
}
/* products-section style end ====================== */
/* optional section start ================================== */
.optional-section {
  text-align: center;
  margin: 0 auto;
  width: auto;
}
.optional-section h2 {
  display: inline;
  padding: 0.625rem 1.25rem;
  color: whitesmoke;
  background-color: tomato;
  border-radius: 0.9375rem;
}
.optional-section .optionals {
  display: flex;
  align-items: center;
  justify-content: center;
}
.optional-section .optionals img {
  width: 9.375rem;
  padding: 1.25rem;
}

/* optional section end ==================================== */
/* footer section start======================== */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #0a0826;
  height: 15rem;
  margin: 0 auto;
}
.footer h3 {
  margin-top: 3.125rem;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Mochiy Pop P One", sans-serif;
}
.footer p {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0;
}
.footer .social-icons {
  display: flex;
}
.footer .social-icons .fab {
  margin: 0 1rem;
  font-size: 2rem;
  margin-top: 1.0625rem;
}
/* footer section end ========================== */
/* resposive design ============================================= */
@media only screen and (max-width: 74.9375rem) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
  }
  .banner-section {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    width: auto;
  }
  .banner-section img {
    margin-top: 1.375rem;
    width: 21.25rem;
  }
  .banner-section .left-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 20;
  }

  .products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .products-section .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
  }
  .footer {
    margin: 0 auto;
    width: auto;
  }
}

@media only screen and (max-width: 48rem) {
  body {
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
  }
  .banner-section {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-items: center;
    margin: 0 auto;
    width: auto;
  }
  .banner-section .left-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: auto;
    padding: 0 0.9375rem;
    margin: 0 auto;
  }
  .banner-section .right-banner img {
    width: 16.0625rem;
  }
  .products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: auto;
  }
  .products-section .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
  .footer {
    margin: 0 auto;
    width: auto;
  }
}
