@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style====================== */

body{
font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
/* common style ===================== */
/* banner-section style start==================== */
.banner-section{
  display: flex;
  align-items: center;

}
.left-banner{
width: 582px;
margin-right: 133px;
}
.left-banner h1{
  font-size: 52px;
  font-weight:700;
}
.right-banner img{
width: 440px;

}
button{
  color: white;
  background-color: #E02C6D;
  padding: 10px 20px;
  border-radius: 40px;
}
button .fas{
  margin-left: 8px;
}
/* banner-section style end ===================== */
/* products-section style start=================== */
.products-section{
}
.products-section h2{
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;

}
.products-section .products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.product{
  width: 329px;
  height: 450px;
  padding: 17px 14px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.product img{
  width: 300px;
  height: 256px;
}
.product h3{
  font-weight: 500;
  font-size: 28px;
  margin: 0;
  padding-top: 16px;
}
.product .price{
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-top: 6px;
}
.product .rating .fas.fa-star{
  color: Orange;
}
.product p{
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  padding-top: 5px;
}
.products-section a{
  display: block;
  font-weight: 700;
  color: #E02C6DDE;
  text-decoration: none;
  margin-top: 50px;
  text-align: end;
}
.products-section .see-more .fas{
  margin-left: 8px;
}
/* products-section style end ====================== */
/* footer section start======================== */
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #0A0826;
  height: 240px;
}
.footer h3{
margin-top: 50px;
margin-bottom: 0;
font-weight: 700;
font-size: 24px;
}
.footer p{
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  padding: 0;
}
.footer .social-icons{
  display: flex;
}
.footer .social-icons .fab{
  margin: 0 16px;
  font-size: 32px;
  margin-top: 17px;
}
/* footer section end ========================== */